body{
    background: #FFFDF1;
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    font-family: 'Roboto';
    font-size: 25px;
    text-decoration: none;
    color: black;
}

table, tr, td {
    border-left: 3px solid #094C3B;
    border-right: 3px solid #094C3B;
    border-collapse: collapse;
    text-align: center;
    padding: 15px 0px;
}

td a:hover {color: #F3D94A;}

#navcrcl{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #F3D94A;
    position: absolute;
}

#home{
    width: 1718px; 
    margin-top: 201px; 
    margin-left: 60px; 
    position: absolute; 
    border: 4px solid #000; 
    background: #F3D94A; 
    color: black; 
    font-size: 32px; 
    font-family: Rhodium Libre; 
    padding: 16.5px 37px;
}

#list{
    position: absolute;
    margin-top: 311px;
    margin-left: 97px;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Roboto Slab";
    font-size: 70px;
    font-weight: 700;
}

.dropdown{
    position: absolute;
    width: 280px;
    border-radius: 50px;
    cursor: pointer;
    
  }
  
  .dropdown-text {
      width: 72px;
      height: 50px;
      border-radius: 25px;
      background-color: #F3D94A;
      position: absolute;
  
  }

  .dropdown-list {
    display: block;
    position: absolute;
    top: -255px;
    left: -340px;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: #F3D94A;
    transition: max-height 0.5s;
    z-index: 100;
    border: 2px solid #FFFDF1;
  }
  
  #icons{
    width: 30px;
    height: 30px;
    
  }
  
  .dropdown-list-item {
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease, margin-left 0.2s ease;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin-left: -15px;
  }
  
  .dropdown-list-item:hover {
    margin-left: 0.5rem;
    color: black;
  }
  
  #list.show {
    max-height: 300px;
  }

  ul {
    margin-top: -100px;
    position: absolute;
  }
  
  li p {
    position: absolute;
    margin-top: -27px;  
    margin-left: 40px;
  }



