
body{
    background-color: #FFFDF1; 
    
}

.pagead{
    display: flex; 
    flex-direction: column; 
    background-color: #FFFDF1; 
    height: 100%; 
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #FFFDF1;
    border-top: 0.4vh solid black;
    border-bottom: 0.4vh solid black;
    width: 95%;
    height: 18%;
    margin: 1%;
    align-items: center;
    justify-content: left;
}

.subnavbar1{
    align-content: center;
    font-size: 4.9vh;
    width: 30%;
    font-weight: bold;
    font-family: 'Averia Serif Libre';

}

.subnavbar2{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: Roboto Slab;
    width: 40%;
    height: 100%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  padding: 1.4vh 1.6vh;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2.5vh;
  font-family: Roboto;
}

li a:hover {
  color: #BD4141;
}

.managemenutext{
    color: #BD4141;

}

.subnavbar3{
    align-content: right;
    justify-content: center;
    text-align: right;
    width: 30%;
}

.managemenu-line{
    display: flex;
    border: 0.4vh solid black;
    height: 13%;
    width: 95%;
    margin-top: 1%;
    align-items: center;
    font-family: Rhodium Libre; 
    font-size: 3.2vh;
    background-color: #BD4141;
}

.managemenu-line  a{
    width: 41vh;
    height: auto;
    margin-left: 4.5vh;
}

.manageoptions{
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 90%;
  gap: 20%;
  align-items: center;
  justify-content: center;

}

.editmenu{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 60%;
  border-radius: 2.0vh;
  box-shadow: 0vh 0vh 1.5vh rgba(0, 0, 0, 0.25);
  background-color: #FFFDF1;

}

/* .manageleft, .managright{
  border: 1px solid black;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;

} */

.editmenu:hover, 
.addmenu:hover {
  /* border: 1vh solid #BD4141; */
  transition: 0.3s;
  box-shadow: 0vh 0vh 1.5vh 1.0vh rgba(0, 0, 0, 0.25);
  background-color: #BD4141;
  /* background-color: #BD4141; */
}

.editmenu:hover .editup .pencil img,
.editmenu:hover .mid .cook-book img,
.addmenu:hover .addup .plus img,
.addmenu:hover .mid .cook-book img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(219deg) brightness(109%) contrast(101%);
}

.editup{
  display: flex;
  width: 92%;
  height: 10%;
  padding-right: 4%;
  padding-top: 4%;
  align-content: end;
  justify-content: right;

}

.editbottom{
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;

}

.editbutton{
  width: 80%;
  height: 60%;
  border-radius: 2.0vh;
  text-align: center;
  font-family: Roboto Slab;
  font-size: 2.5vh;
  background-color: #BD4141;
  color: #FFFDF1;

}

.editbutton button{
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 2.0vh;
  line-height: 3.0vh;
  font-family: Roboto Slab;
  font-size: 2.5vh;
  background-color: #FFFDF1;
  color: #BD4141;
  border: 0.1vh solid #BD4141;
}
 
.editbutton button:hover{
  background-color: #BD4141;
  color: #FFFDF1;
  border: 0;
  transition: 0.3s;

}

.mid{
  width: 70%;
  height: 70%;
  padding-left: 5.5vh;
  align-content: center;

}

.cook-book{
  display: inline-block;
  width: 25vh;
  height: 25vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }


.addmenu{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 60%;
  border-radius: 2.0vh;
  box-shadow: 0vh 0vh 1.5vh rgba(0, 0, 0, 0.25);
  background-color: #FFFDF1;

}

.addup{
  display: flex;
  width: 92%;
  height: 10%;
  padding-right: 4%;
  padding-top: 4%;
  align-content: end;
  justify-content: right;
  
}

.addbottom{
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;

}

.addbutton{
  width: 80%;
  height: 60%;
  border-radius: 2.0vh;
  text-align: center;
  font-family: Roboto Slab;
  font-size: 2.5vh;
  background-color: #BD4141;
  color: #FFFDF1;

}

.addbutton button{
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 2.0vh;
  line-height: 3.0vh;
  font-family: Roboto Slab;
  font-size: 2.5vh;
  background-color: #FFFDF1;
  color: #BD4141;
  border: 0.1vh solid #BD4141;

}

.addbutton button:hover{
  background-color: #BD4141;
  color: #FFFDF1;
  border: 0;
  transition: 0.3s;

}

.pencil {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }

.plus {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}